body{
    background-color: #fff;
}

hr{
    border: dotted #00f7ff 4px;
    border-bottom: none;
    width: 4%;
    margin: 2rem auto;
}

h1{
    color: rgb(0, 225, 255);
}

h3{
    color: rgb(0, 225, 255);
}
